#container {
	margin: 8%;
	margin-top: 0%;
	margin-bottom: 0%;
}
.img-logo {
	color:white; 
	background:#707070;
	border-radius:50%;
	border:2px solid #404040;
	max-width:120px;
	max-height: 120px;
}

.contenant {
  position: relative;
  text-align: center;
  color: black;
  font-weight: bold;
}

.texte_centrer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#pseudo-name {
	color: yellow;
	opacity: 0.8;
	margin-left: 25px;
	font-family: 'Arial', 'Open Sans', 'Roboto', sans-serif;
	font-weight: bold; 
}

.encheres {
	margin-bottom: 25px;
	text-align: center;
	margin-top: 25px;
}
.titre-encheres {
	font-family: Georgia, serif;
	font-size: 1.5em;
}
.valeur-encheres {
	font-style: italic;
	font-size: 0.8em;
	font-family: serif;
	color: red;
}
input.input-mise {
	width: 100px;
}
button.btn-placer {
	background-color: rgb(167,225,7);
	font-family: 'Arial', 'Open Sans', 'Roboto', sans-serif;
	font-weight: bold; 
}

button.btn-placer:hover {
	background-color: rgb(167,225,7);
	color: white;
	opacity: 0.9;
}

/* le block conteneur */
.marquee-rtl {
  max-width: 100em;                      /* largeur de la fenêtre */
  margin: 1em auto 0.5em;
  border: 10px solid #F0F0FF;
  overflow: hidden;                     /* masque tout ce qui dépasse */
  box-shadow: 0 .25em .5em #CCC,inset 0 0 1em .25em #CCC;
}

/* le bloc défilant */
.marquee-rtl > :first-child {
  display: inline-block;                /* modèle de boîte en ligne */
  padding-right: 2em;                   /* un peu d'espace pour la transition */
  padding-left: 100%;                   /* placement à droite du conteneur */
  white-space: nowrap;                  /* pas de passage à la ligne */
  animation: defilement-rtl 15s infinite linear;
}

@keyframes defilement-rtl {
  0% {
    transform: translate3d(0,0,0);      /* position initiale à droite */
  }
  100% {
    transform: translate3d(-100%,0,0);  /* position finale à gauche */
  }
}

footer {
	text-align: center;
	background-color: #ddc477;
}