body {
	margin: 8%;
	margin-top: 0%;
}

h1 {
	text-align: center;
	margin-left:10%; 
	margin-right:10%; 
	margin-bottom:0%
}

#jeton-logo {
	color:white;
	background:#707070;
	border-radius:50%;
	border:2px solid #404040;
	max-width:120px;
	max-height: 120px;
}
#jeton-logo2 {
	float:right;
	color:white;
	background:#707070;
	border-radius:50%;
	border:2px solid #404040;
	max-width:120px;
	max-height: 120px;
}

#tab-entier {
	width:70%; 
	margin:auto;
}